n8n-workflows/02-web3forms-to-sheets.json
{
  "name": "02 - Web3Forms to Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web3forms-lead",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "w3f",
      "name": "Web3Forms Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const b=$input.first().json;\nconst lead={name:b.name||'',phone:b.phone||'',email:b.email||'',address:b.address||'',service:b.service||'',timeline:b.timeline||'',notes:b.notes||b.message||'',city:b.city||'Tampa Bay',source:'landing-page-form',timestamp:new Date().toLocaleString('en-US',{timeZone:'America/New_York'})};\nlet score=0;\nconst tl=lead.timeline.toLowerCase();\nif(tl.includes('asap'))score+=40;\nelse if(tl.includes('month')&&!tl.includes('3'))score+=25;\nelse if(tl.includes('1-3'))score+=10;\nconst svc=lead.service.toLowerCase();\nif(svc.includes('hurricane')||svc.includes('impact'))score+=30;\nelse if(svc.includes('full')||svc.includes('whole'))score+=30;\nelse if(svc.includes('energy'))score+=20;\nelse if(svc.includes('commercial'))score+=25;\nelse if(svc.includes('single'))score+=10;\nelse if(svc.includes('repair'))score+=5;\nelse score+=15;\nif(lead.phone.length>7)score+=15;\nif(lead.email.includes('@'))score+=10;\nif(lead.address.length>3)score+=5;\nscore+=5;\nconst rating=score>=70?'HOT':score>=40?'WARM':'COLD';\nreturn [{json:{...lead,score,rating}}];"
      },
      "id": "score",
      "name": "Normalize & Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Phone": "={{ $json.phone }}",
            "Email": "={{ $json.email }}",
            "Address/City": "={{ $json.address || $json.city }}",
            "Service": "={{ $json.service }}",
            "Timeline": "={{ $json.timeline }}",
            "Source": "={{ $json.source }}",
            "Notes": "={{ $json.notes }}",
            "Score": "={{ $json.score }}",
            "Rating": "={{ $json.rating }}",
            "Follow-Up Status": "",
            "Call Notes": "",
            "HOT/WARM/COLD": "={{ $json.rating }}"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "sheets",
      "name": "Append to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Web3Forms Webhook": {
      "main": [
        [
          {
            "node": "Normalize & Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Score": {
      "main": [
        [
          {
            "node": "Append to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheets": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "window-leads"
    }
  ]
}