n8n-workflows/03-reddit-content-agent.json
{
  "name": "Reddit Content Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Posts 3-4 helpful comments per day across Tampa Bay subreddits"
    },
    {
      "parameters": {
        "jsCode": "// Pick a random subreddit and topic to comment on\nconst subreddits = [\n  { sub: 'tampa', topics: ['home improvement', 'hurricane prep', 'house', 'storm', 'windows', 'energy bill', 'AC'] },\n  { sub: 'StPetersburg', topics: ['home improvement', 'hurricane', 'house', 'storm damage', 'windows'] },\n  { sub: 'Bradenton', topics: ['home improvement', 'hurricane prep', 'windows', 'storm'] },\n  { sub: 'Wesley_Chapel', topics: ['home improvement', 'new home', 'windows', 'house'] }\n];\n\nconst subreddit = subreddits[Math.floor(Math.random() * subreddits.length)];\nconst topic = subreddit.topics[Math.floor(Math.random() * subreddit.topics.length)];\n\n// Comment templates — helpful, not spammy\nconst commentStyles = [\n  'helpful_neighbor',\n  'cost_info',\n  'hurricane_advice',\n  'energy_savings'\n];\nconst style = commentStyles[Math.floor(Math.random() * commentStyles.length)];\n\nreturn [{ json: { subreddit: subreddit.sub, topic, style, timestamp: new Date().toISOString() } }];"
      },
      "id": "pick-subreddit",
      "name": "Pick Subreddit & Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "meta-llama/llama-4-scout-17b-16e-instruct"
            },
            {
              "name": "max_tokens",
              "value": "200"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"You are a helpful Tampa Bay homeowner who knows a lot about windows, hurricanes, and home improvement. Write a genuinely helpful Reddit comment for r/{{ $json.subreddit }} about the topic: {{ $json.topic }}. Style: {{ $json.style }}. Rules: 1) Be helpful and genuine, NOT salesy 2) Sound like a real person 3) Only VERY subtly mention window expertise if it fits naturally 4) 3-5 sentences max 5) No hashtags 6) No emojis 7) Never mention any company name 8) Just write the comment text, nothing else\"}]"
            }
          ]
        }
      },
      "id": "generate-comment",
      "name": "Generate Comment (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "groq-api-cred",
          "name": "Groq API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst comment = response.choices[0].message.content.trim();\nconst meta = $('Pick Subreddit & Topic').first().json;\n\n// Log for manual posting (Reddit API requires OAuth — this workflow generates content for manual posting)\nconsole.log(`\\n📝 Reddit Comment Ready`);\nconsole.log(`Subreddit: r/${meta.subreddit}`);\nconsole.log(`Comment:\\n${comment}`);\n\nreturn [{ json: { subreddit: meta.subreddit, topic: meta.topic, comment, ready_to_post: true } }];"
      },
      "id": "extract-comment",
      "name": "Extract Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": "Reddit Queue",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toLocaleString() }}",
            "Subreddit": "=r/{{ $json.subreddit }}",
            "Topic": "={{ $json.topic }}",
            "Comment": "={{ $json.comment }}",
            "Status": "PENDING — Post Manually"
          }
        },
        "options": {}
      },
      "id": "log-to-sheets",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1200, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      },
      "notes": "Logs generated comments to a Reddit Queue tab in your Google Sheet for easy manual posting"
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [[{ "node": "Pick Subreddit & Topic", "type": "main", "index": 0 }]]
    },
    "Pick Subreddit & Topic": {
      "main": [[{ "node": "Generate Comment (Groq)", "type": "main", "index": 0 }]]
    },
    "Generate Comment (Groq)": {
      "main": [[{ "node": "Extract Comment", "type": "main", "index": 0 }]]
    },
    "Extract Comment": {
      "main": [[{ "node": "Log to Sheets", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "saveManualExecutions": true },
  "tags": [{ "name": "social-media" }]
}
